* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://picsum.photos/1920/1080");
}

.main {
  margin: 200px auto;
  text-align: center;
}

.title {
  font-size: 150px;
  color: green;
}
