* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://wallpaperaccess.com/full/3535237.jpg');
}

.main {
  margin: 200px auto;
  text-align: center;
}

.title {
  font-size: 150px;
  color: white;
}