* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1560279781-289c6a25cbe9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80");
}

.main {
  margin: 200px auto;
  text-align: center;
}

.title {
  font-size: 150px;
  background: linear-gradient(to top right, #D52901, #412C29);
  color: transparent;
  -webkit-background-clip: text;
  /* color: rgb(238, 183, 43); */
}