* {
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.computer {
  margin: 50px auto 0;
  text-align: center;
}

.user {
  margin: 50px auto 0;
  text-align: center;
  /* display: flex; */
}

.user > img {
  cursor: grab;
}

.user > img:nth-child(2) {
  margin: 0 100px;
}